exceptiongroup==1.2.1
iniconfig==2.0.0
jax==0.4.18
jaxlib==0.4.18+cuda12.cudnn89
ml-dtypes==0.4.0
numpy==2.0.0
nvidia-cublas-cu12==12.5.2.13
nvidia-cuda-cupti-cu12==12.5.39
nvidia-cuda-nvcc-cu12==12.5.40
nvidia-cuda-runtime-cu12==12.5.39
nvidia-cudnn-cu12==9.1.1.17
nvidia-cufft-cu12==11.2.3.18
nvidia-cusolver-cu12==11.6.2.40
nvidia-cusparse-cu12==12.4.1.24
nvidia-nccl-cu12==2.22.3
nvidia-nvjitlink-cu12==12.5.40
opt-einsum==3.3.0
packaging==24.1
pluggy==1.5.0
pytest==8.2.2
scipy==1.14.0
tomli==2.0.1
