iniconfig==2.0.0
--pre
--find-links https://storage.googleapis.com/jax-releases/jax_nightly_releases.html
jax==0.4.24.dev20240123
--find-links https://storage.googleapis.com/jax-releases/jaxlib_nightly_releases.html
jaxlib==0.4.24.dev20240123
ml-dtypes==0.4.0
numpy==1.26.4
opt-einsum==3.3.0
packaging==24.0
pluggy==1.5.0
pytest==8.1.1
scipy==1.13.0
