absl-py==0.15.0
astunparse==1.6.3
cachetools==5.5.2
certifi==2020.12.5
charset-normalizer==3.4.1
exceptiongroup==1.2.2
flatbuffers==1.12
gast==0.3.3
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==3.10
importlib-metadata==6.7.0
iniconfig==2.0.0
Keras-Preprocessing==1.1.2
Markdown==3.4.4
MarkupSafe==2.1.5
numpy==1.19.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.0
pluggy==1.2.0
protobuf==3.20.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pytest==7.4.4
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
six==1.15.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
tomli==2.0.1
typing-extensions==3.7.4.3
urllib3==2.0.7
Werkzeug==2.2.3
wrapt==1.12.1
zipp==3.15.0
