absl-py==2.1.0
astunparse==1.6.3
cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
exceptiongroup==1.2.2
flatbuffers==24.3.25
gast==0.4.0
google-auth==2.34.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.66.1
h5py==3.11.0
idna==3.8
iniconfig==2.0.0
keras==2.11.0
libclang==18.1.1
Markdown==3.7
MarkupSafe==2.1.5
numpy==1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.1
pluggy==1.5.0
protobuf==3.19.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pytest==8.3.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0; sys_platform != 'darwin'
tensorflow-macos==2.11.0; sys_platform == 'darwin'
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4
wrapt==1.16.0
